<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body>
<a data-th-href="@{/}">&larr; На главную</a><br>
<a data-th-href="@{/cash-flow/categories/create}">+ Добавить категорию</a>
<h1>Список категорий</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Категория</th>
            <th>описание</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="category: ${categories}">
            <td data-th-text="${category.id}"></td>
            <td>
                <a data-th-href="@{/cash-flow/categories/{categoryId}(categoryId=${category.id})}"
                   data-th-text="${category.name}"></a>
            </td>
            <td data-th-text="${category.description}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>