<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Денежные операции</title>
</head>
<body>
<a data-th-href="@{/}">&larr; На главную</a><br>
<a data-th-href="@{/cash-flow/monetary-transactions/create}">+ Добавить операцию</a>
<h1>Список операций</h1>

<form method="get" data-th-action="@{/cash-flow/monetary-transactions/list}">
    <label>
        Категория:
        <select th:name="category_id">
            <option value="">Все</option>
            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"
                    th:selected="${category.id == categoryId}">
            </option>
        </select>
        <br>
    </label>
    <label>
        Тип операции:
        <select th:name="type_operation_id">
            <option value="">Все</option>
            <option th:each="typeOperation: ${typeOperations}" th:value="${typeOperation.id}" th:text="${typeOperation.name}"
                    th:selected="${typeOperation.id == typeOperationId}">
            </option>
        </select>
        <br>
    </label>
    <label>
        Название: <input type="text" name="name" data-th-value="${name}">
        <br>
    </label>
    <label>
        Дата от: <input type="datetime-local" name="date_operation_start"
                        data-th-value="${dateOperationStart}">
        <br>
    </label>
    <label>
        Дата до: <input type="datetime-local" name="date_operation_end"
                        data-th-value="${dateOperationEnd}">
        <br>
    </label>
    <button type="submit">Поиск</button>
</form>
<form action="/cash-flow/monetary-transactions/list">
    <input type="submit" value="Сброс" />
</form>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Сумма</th>
            <th>Категория</th>
            <th>Тип операции</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="monetaryTransaction: ${monetaryTransactions}">
            <td data-th-text="${monetaryTransaction.id}"></td>
            <td>
                <a data-th-href="@{/cash-flow/monetary-transactions/{monetaryTransactionId}(monetaryTransactionId=${monetaryTransaction.id})}"
                   data-th-text="${monetaryTransaction.name}"></a>
            </td>
            <td data-th-text="${monetaryTransaction.description}"></td>
            <td data-th-text="${monetaryTransaction.amount}"></td>
            <td data-th-text="${monetaryTransaction.category.name}"></td>
            <td data-th-text="${monetaryTransaction.typeOperation.name}"></td>
            <td data-th-text="${monetaryTransaction.dateOperation}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>